header{ 
    display: flex;
    background-color: #45d93e;
    width:100% ;
    border: 0%;
    justify-content: center;
}
body{
    background-color: #a6ff8d;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carrusel{
    display: flex;
    flex-direction: row;
    width: 300vw;
    margin-top: 20px;
}

.carrusel img{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    animation: carrusel 20s infinite 2s;
}
@keyframes carrusel{
    0%{
        transform: translateX(0);
    }
    40%{
        transform: translateX(-100vw);
    }
    80%{
        transform: translateX(-200vw);
    }
    100%{
        transform: translateX(0);
    }
}

ul li{
    display: inline-block;
    margin: 0 5px;
    list-style: none;
    text-decoration: none;
}

ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}



   /*<h2 style="font-weight: 200; font-size: 40px; margin-top: 10px">*/
   /*<p style="font-size: 20px">*/


h1{
    font-size: 80px;
    color: #1b611a;
    text-align: end;
}